/* styles.css 
   Project: 
   Author: 
   Date: 
	
   Helpful links: 
   	Web colors: 
   		https://en.wikipedia.org/wiki/Web_colors#X11_color_names
	Color picker tool:
		https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Colors/Color_picker_tool
		http://colorpicker.com

*/


body {
   padding: 40px;
}

.intro {
   border: 8px solid red;
   width: 208px;
   padding: 31px;
   blackground-color: #f4f4f4;
}

.intro img {
   border: 4px solid purple;
   width: 200px;
}


.intro p {
   width: 200px;
   line-height: 1.5em;
}

.intro {
text-align : justify;
}






